<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <title>Url Shortener</title>
  </head>
  <body>
    <div class="container-fluid">
      <h1>Url Shortener Microservice</h1>
      <p>The microservice is able to make the link shorter. It returns JSON data.</p>
      <h4>How does a response look?</h4>
      <p><code>https://url-shorten-ms.glitch.me/new/https://www.google.com</code></p>
      <p><code>https://url-shorten-ms.glitch.me/new/https://foo.com</code></p>
      <h4>JSON output will be:</h4>
      <p><code>{ "original_url":"https://google.com", "short_url":"https://url-shorten-ms.glitch.me/111" }</code></p>
      <h4>Created link redirect to original source</h4>
      <p><code>https://url-shorten-ms.glitch.me/111</code></p>
  </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
  </body>
</html>
