<html>
  <head>
    <title>Url Shortener</title>
  </head>
  <body>
    <h1>Url Shortener Microservice</h1>
    <p>The microservice is able to make the link shorter. It returns JSON data.</p>
    <h4>How does a response look?</h4>
    <p><code>https://little-url.herokuapp.com/new/https://www.google.com</code></p>
    <p><code>https://little-url.herokuapp.com/new/https://foo.com</code></p>
    <h4>JSON output will be:</h4>
    <div>
      <code>{ "original_url":"https://foo.com:80", "short_url":"https://little-url.herokuapp.com/8170" }</code>
    </div>
    <h4>Created link redirect to original source</h4>
    <code><p>https://little-url.herokuapp.com/8170</p></code>
  </body>
</html>
